<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="I am Sher Khan Baloch. I am a Professional Software and Web Developer currenly doing BS Computer
  Science at SZABIST Larkana Campus.">
    <meta name="keywords"
          content=".NET Developer, Dot Net Developer, Sher Khan Baloch, Sher Baloch, Sher Khan, Portfolio, Developer, Computer Science Student">
    <meta name="author" content="Sher Khan Baloch">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sher Khan Baloch | Full Stack .NET Developer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid px-5">
                <a class="navbar-brand text-primary fw-bold" href="#">Sher Khan Baloch</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#home-section">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about-section">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services-section">Services</a>
                        </li><li class="nav-item">
                            <a class="nav-link" href="#skills-section">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#portfolio-section">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact-section">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
       @RenderBody()
    </main>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2024 Sher Khan Baloch</p>
            <a href="/"
               class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#home-section" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#about-section" class="nav-link px-2 text-muted">About</a></li>
                <li class="nav-item"><a href="#services-section" class="nav-link px-2 text-muted">Services</a></li>
                <li class="nav-item"><a href="#skills-section" class="nav-link px-2 text-muted">Skills</a></li>
                <li class="nav-item"><a href="#portfolio-section" class="nav-link px-2 text-muted">Portfolio</a></li>
                <li class="nav-item"><a href="#contact-section" class="nav-link px-2 text-muted">Contact</a></li>
            </ul>
        </footer>
    </div>

    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.js"></script>

    <!-- Typed.js -->
    <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>

    <!-- Custom JavaScript -->
    <script src="~/js/script.js"></script>
</body>

</html>