@using PortfolioWebsite.Models

@model Category

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Category</h4>
            <p class="card-description">
                -
            </p>
            <form class="forms-sample" method="post" asp-action="AddCategory" asp-controller="Admin">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label asp-for="CategoryName"></label>
                        <input class="form-control" asp-for="CategoryName">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Add Category</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>