@using PortfolioWebsite.Models;

@model IEnumerable<Category>

<a class="btn btn-primary" asp-action="AddCategory" asp-controller="Admin">Add New Category</a>

<div class="row mt-5">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Categories</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Edit
                                </th>
                                <th>
                                    Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.CategoryName
                                    </td>
                                    <td>
                                        <a asp-action="UpdateCategory" asp-controller="Admin" asp-route-Id="@item.Id">Edit</a>
                                    </td>
                                    <td>
                                        <a asp-action="DeleteCategory" asp-controller="Admin" asp-route-Id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
